[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
install = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
